/* RESET */
* {
  box-sizing: border-box;
  max-width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* BODY */
body {
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* HEADINGS */
h1 {
  color: #ff4500;
  font-size: 42px;
  margin-top: 40px;
}

h2 {
  color: #222;
}

h3 {
  color: #444;
  font-size: 22px;
  margin-top: 10px;
  font-style: italic;
}

/* VIDEO FIX */
.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-top: 56.25%; /* 16:9 */
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
